<template>
  <div id="app">
      <div :class="$style.header">a123123addfads测dffaaasdfsdasdfadadsfsfsasdfdf1asdfaasdfsdf</div>
      <hello @click="handleClick"></hello>
      <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import Hello from './hello/hello.vue'

export default {
  name: 'app',
  data () {
    return {

    }
  },
  methods: {
    handleClick (abc, bcd) {
      alert(abc)
    }
  },
  components: {
    Hello
  }
}
</script>

<style>
html, body {
  padding: 0;
  margin: 0;
  list-style: none;
}
</style>
<style lang="less" module>
.header {
  color: red;
  height: 40px;
  margin-left: 50px;
}
</style>
