<template>
  <div :class="$style.hello">
      阿斯顿发大事发生的   阿斯蒂芬按时阿斯蒂芬阿斯蒂芬  斯蒂芬案例库；时代峰峻asdf测asdf评职asdf位页afadsds
      <button @click="handleClick(12312)">点击</button>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  data() {
    return {}
  },
  methods: {
    handleClick() {
      this.$emit('click', ...arguments)
      class Abc {
        constructor(arg) {
          console.log(arg)
        }
      }
      let abc = new Abc('你好')
      class Abd extends Abc {
        constructor(arg, arg1) {
          super(arg)
          console.log(arg1)
        }
      }
      console.log(abc)
      console.log(Abc.prototype)
      console.log(abc.constructor)
      let abc1 = new Abd('哈哈是的', '第二asfasasdfdf参数')
    }
  },
  components: {}
}
</script>

<style lang="scss" module>
@mixin fs($size) {
  font-size: $size; /*no*/
}

.hello {
  @include fs(19px);
  width: 100%;
  height: 750px;
  border: 1px solid red;/* no */
  background: rgba(4, 4, 4, 0.3);
  // background: red;
  // transform: translate(30px, 30px);
}
</style>
